<h1>Listing agences</h1>


<% @agences.each do |agence| %>
    <%= link_to agence.nom, agence %>
    <%= link_to 'Edit', edit_agence_path(agence) %>
    <%= link_to 'Destroy', agence, confirm: 'Are you sure?', method: :delete %>
    <br />
<% end %>

<br />

<%= link_to 'New Agence', new_agence_path %>
